/*/////////////////////////////////////
////////////// agency-layout starts
///////////////////////////////////// */
* {
<<<<<<< HEAD
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

/*/////////////////////////////////////////////////////////
=======
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
  }
  /*/////////////////////////////////////////////////////////
>>>>>>> adb20870b471d34a87fe3c8e40332042d4938f1a
 ///////////  Navbar starts
 ////////////////////////////////////////////////////////*/

.nav {
<<<<<<< HEAD
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
}

.nav .nav__right {
  display: flex;
  align-items: center;
}

.nav .nav__right button {
  border: none;
  background-color: transparent;
  padding: 0;
}

.nav .nav__list {
  display: flex;
  margin-right: 70px;
}

.nav .nav__list>li {
  margin-right: 40px;
}

.nav .nav__list>li:last-child {
  margin-right: 0;
}

.nav .nav__right button {
  margin-right: 28px;
}

.nav .nav__right button:last-child {
  margin-right: 0;
}

.nav__list .body-0101:hover {
  border-bottom: 3px solid #ff7300;
}

/* Navbar ends    */
/*/////////////////////////////////////
////////////// agency-layout starts
///////////////////////////////////// */
.container {
  margin-left: auto;
}

.container .agency-layout {
  margin-top: 180px;
}

.column-2 span .display-1-yellow {
  color: #FF7300;
}

.column-2 .display-1 p {
  display: inline;
}

.column-2 .display-1 {
  width: 650px;
  display: block;
}

.column-2 span p {
  width: 650px;
  margin-top: 33px;
}

.column-2 .header .tab-nav {
  display: block;
  margin-left: 0px;
  display: flex;
  justify-content: left;
  margin-top: 70px;
}

.header .tab-nav li .active {
  border-bottom: 3px solid #FF7300;
  padding-bottom: 8px;
  margin-bottom: -3px;

}

.column-2 .header {
  display: flex;
  justify-content: space-between;
  border-bottom: 3px solid #D2D2D2;
  padding-bottom: 8px;
}

.header .tab-nav li {
  margin-right: 40px;
}



.column-2 .header a {
  height: 0;
}

.column-2 .header a {
  margin-top: 70px;
}

/* agency-layout ends    */

/*/////////////////////////////////////
////////////// hash-tag desktop starts
///////////////////////////////////// */
.container .hash-tag .caption {
  padding: 5px 9px;
  background-color: #F1F1F1;
  margin-top: 15px;
  margin-left: 10px;
  display: inline-block;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.hash-tag .caption:hover {
  background-color: #FFEBD1;
}

.hash-tag .caption:active {
  background-color: #FF7300;
  color: white;
}

.hash-tag .hash-tag {
  margin-top: 70px;
  line-height: 15px;
}

.hash-tag .hash-tag .font-61-01 {
  display: inline;
  color: #D2D2D2;
}

.hash-tag .font-61-01:active {
  display: inline;
  color: white;
}

.container .hash-tag a {
  display: inline;
  display: inline-block;

}

.container .hash-tag h6 {
  display: inline-flex;
  font-size: 16px;
  color: #FF7A0D;

}



/* //////////////// hash-tag desktop ends/////////////*/

/* ///////////////////////////////////////////////
    ////////////////// team desktop starts
    /////////////////////////////////////////////////*/
.container .team {
  display: grid;
  grid-template-rows: auto auto auto auto auto;
  row-gap: 70px;
  margin-top: 55px;
  margin-bottom: 180px;
}

.team .art-director div {
  row-gap: 0px;
}

.team .menejerlar div {
  row-gap: 0px;
}
.block .team-block {
  width: 136px;
  display: inline-block;
}

.team div.block {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto auto auto auto;
  row-gap: 30px;
  margin-top: 30px;
}
.block .team-block img {
  width: 114px;
  height: 114px;
  border-radius: 57px;
  -webkit-border-radius: 57px;
  -moz-border-radius: 57px;
  -ms-border-radius: 57px;
  -o-border-radius: 57px;
  border: 5px solid #F9F9F9;
  margin-left: 13px;
}
.block .team-block:hover {
  background-color: #F9F9F9;
}

.block .text-team-block h5 {
  margin-top: 16px;
  text-align: center;
}

.team-block .text-team-block p {
  margin-top: 5px;
  text-align: center;
}

/* ///////////////////////////////////////////////*/
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
  }
  .nav .nav__right {
    display: flex;dfhfgx
    align-items: center;
  }
  .nav .nav__right button {
    border: none;
    background-color: transparent;
    padding: 0;
  }
  .nav .nav__list {
    display: flex;
    margin-right: 70px;
  }
  .nav .nav__list > li {
    margin-right: 40px;
  }
  .nav .nav__list > li:last-child {
    margin-right: 0;
  }
  .nav .nav__right button {
    margin-right: 28px;
  }
  .nav .nav__right button:last-child {
    margin-right: 0;
  }
  .nav__list .body-0101:hover{
    border-bottom: 3px solid #ff7300;
  }
  
  /* Navbar ends    */
.container{
    margin-left: auto;
}
.agency-layout{
    margin-top: 180px;
}
.display-1-yellow{
    color:#FF7300;
}
.display-1 p{
    display: inline;
}
.display-1 {
width: 650px;
}
.column-2 p{
width: 650px;
margin-top: 33px;
}
.tab-nav {
    display: block;
    margin-left: 0px;
    display: flex;
    justify-content: left;
    margin-top: 70px;
  }
  
  .tab-nav  li .active {
    border-bottom: 3px solid #FF7300;
    padding-bottom: 8px;
    margin-bottom: -3px;
    
  }
  
  .tab-nav li {
    margin-right: 40px;
  }

  .header {
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid #D2D2D2;
    padding-bottom: 8px;
  }

  .header a {
      height: 0;
  }

  .header a {
      margin-top: 70px;
  }
/*/////////////////////////////////////
////////////// agency-layout ends
///////////////////////////////////// */
/* ////////////// group desktop starts //////////////*/
.group {

    margin-top: 50px;
  }
  
  .comands {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 97px 117px 231px;
    padding: 0px;
    border-bottom: 1px solid #D2D2D2;
    padding-bottom: 74px;
  }
  
  
  
  .comands .body-2-01 {
    color: #FF7300;
    margin-bottom: 16px;
  }
  
  .commands div>div {
  
    text-align: center;
  }
  
  .designer {
    line-height: 38px;
  }
  
  .body-02-2 {
    line-height: 4px;
  }
  
  .column-2 .body-1 {
    line-height: 23px;
  
  }
  
  .heading .body-2-01 {
    display: inline-block;
  }
  
  .data .display-3 {
    margin-bottom: 34px;
  
    line-height: 6px;
  }
  
  .list>.font-61-01 {
    margin-bottom: 16px;
  }
  
  .list {
    border-bottom: none;
  }
  
  .heading span {
    display: inline;
    font-size: 0px;
  }
  
  .caption {
    padding: 5px 9px;
    background-color: #F1F1F1;
    margin-top: 15px;
    margin-left: 10px;
    display: inline-block;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }
  .caption:hover{
    background-color: #FFEBD1;
  }
  .caption:active{
    background-color: #FF7300;
    color: white;
  }
  .hash-tag {
    margin-top: 70px;
    line-height: 15px;
  }
  
  .hash-tag .font-61-01 {
    display: inline;
    color: #D2D2D2;
  }
  .hash-tag .font-61-01:active {
    display: inline;
    color: white;
  }
  
  .hash-tag a {
    display: inline;
    display: inline-block;
  
  }
  
  .hash-tag h6 {
    display: inline-flex;
    font-size: 16px;
    color: #FF7A0D;
  
  }
  
  .tags {
    margin-left: 0px;
    margin-top: 0px;
    color: #FF7300;
    opacity: 0;
  }
  
  .tags h5 {
    color: #FF7300;
  
  }
  
  /* //////////////// group desktop ends/////////////*/

    /* ///////////////////////////////////////////////
    ////////////////// team desktop starts
    /////////////////////////////////////////////////*/
    .team{
        display: grid;
        grid-template-rows: auto auto auto auto auto;
        row-gap: 70px;
        margin-top: 55px;
        margin-bottom: 180px;
    }
 
  .art-director div{
      row-gap: 0px;
  }
  .menejerlar div{
row-gap: 0px;
  }
    .team-block img{
        width: 114px;
        height: 114px;
        border-radius: 57px;
        -webkit-border-radius: 57px;
        -moz-border-radius: 57px;
        -ms-border-radius: 57px;
        -o-border-radius: 57px;
        border:5px solid #F9F9F9;
        margin-left: 13px;
}
.team-block{
    width: 136px;
  display: inline-block;
}
.block{
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto auto auto auto;
row-gap: 30px;
margin-top: 30px;
}
.team-block:hover{
  background-color: #F9F9F9;
}
 .text-team-block h5{
    margin-top: 16px;
    text-align: center;
}
.team-block > .text-team-block p{
margin-top: 5px;
text-align: center;
}

    /* ///////////////////////////////////////////////
>>>>>>> adb20870b471d34a87fe3c8e40332042d4938f1a
    ////////////////// team desktop ends
    /////////////////////////////////////////////////*/



/*/////////////////////////////////////////////////////////
 /////////// footer starts
 ////////////////////////////////////////////////////////*/

<<<<<<< HEAD
.footer-1 {
  background: #1c1c1f;
  padding: 136px 0 118px;
}

.footer-01 {
  display: flex;
  justify-content: space-between;
}

.footer-01 ul li {
  margin-bottom: 13px;
}

.footer-2 {
  background: #1a191c;
  padding: 32px 0 34px;
}

.footer-02 {
  display: flex;
  justify-content: space-between;
}

.copyright ul {
  display: flex;
}

.networks ul {
  display: flex;
}

.address img {
  margin-bottom: 86px;
}

.address h2 {
  margin-bottom: 10px;
}

footer a:hover {
  color: #d2d2d2;
}

.footer-01 h4 {
  margin-bottom: 18px;
}

.networks ul li {
  margin-left: 20px;
}

.copyright ul li {
  margin-right: 20px;
}

.copyright ul li:first-child {
  border-right: 1px solid #fff;
  padding-right: 20px;
}

@media (max-width: 1200px) {
  .footer-01 .address {
    display: none;
  }

  .footer-01 h4 {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
  }

  .footer-01 a {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
  }

  .footer-01 div {
    margin: 70px 20px;
  }
}

@media (max-width: 816px) {
  .footer-02 .body-8-01 {
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #D2D2D2;
  }

  .footer-02 .d-sm-f {
    display: none;
  }

  .footer-02 {
    margin: auto;
  }

  .footer-02 .copyright {
    margin: auto;
  }
}

/* footer ends  */
=======
 .footer-1 {
    background: #1c1c1f;
    padding: 136px 0 118px;
  }
  .footer-01 {
    display: flex;
    justify-content: space-between;
  }
  .footer-01 ul li {
    margin-bottom: 13px;
  }
  .footer-2 {
    background: #1a191c;
    padding: 32px 0 34px;
  }
  .footer-02 {
    display: flex;
    justify-content: space-between;
  }
  
  .copyright ul {
    display: flex;
  }
  .networks ul {
    display: flex;
  }
  .address img {
    margin-bottom: 86px;
  }
  .address h2 {
    margin-bottom: 10px;
  }
  footer a:hover {
    color: #d2d2d2;
  }
  .footer-01 h4 {
    margin-bottom: 18px;
  }
  .networks ul li {
    margin-left: 20px;
  }
  .copyright ul li {
    margin-right: 20px;
  }
  .copyright ul li:first-child {
    border-right: 1px solid #fff;
    padding-right: 20px;
  }
  @media (max-width: 1200px) {
    .footer-01 .address {
      display: none;
    }
    .footer-01 h4 {
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
    }
    .footer-01 a {
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
    }
    .footer-01 div {
      margin: 70px 20px;
    }
  }
  @media (max-width: 816px) {
    .footer-02 .body-8-01 {
      font-weight: 600;
      font-size: 13px ;
      line-height: 16px;
      color: #D2D2D2;
    }
    .footer-02 .d-sm-f{
      display: none;
    }
    .footer-02{
      margin: auto;
    }
    .footer-02 .copyright {
      margin: auto;
    }
  }
  /* footer ends  */
>>>>>>> adb20870b471d34a87fe3c8e40332042d4938f1a
