* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

/*/////////////////////////////////////////////////////////
 ///////////  Navbar starts
 ////////////////////////////////////////////////////////*/
.nav__right {
  display: none !important;
}
.nav {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
}
.nav .nav__right {
  display: flex;
  align-items: center;
}
.nav .nav__right button {
  border: none;
  background-color: transparent;
  padding: 0;
}
.nav .nav__list {
  display: flex;
  margin-right: 70px;
}
.nav .nav__list > li {
  margin-right: 40px;
}
.nav .nav__list > li:last-child {
  margin-right: 0;
}
.nav .nav__right button {
  margin-right: 28px;
}
.nav .nav__right button:last-child {
  margin-right: 0;
}
.nav__list .body-4:hover {
  border-bottom: 3px solid #ff7300;
}
.nav_close span {
  color: #a6a6a6;
}
.nav_close i {
  color: #1c1c1f;
  margin-left: 67px;
}

@media (max-width: 1200px) {
  .nav__right {
    display: flex !important;
  }
  .nav_close {
    display: none;
  }
}
@media (max-width: 816px) {
  .nav__right {
    display: none !important;
  }
  .nav img {
    display: none;
  }
  .nav__right {
    display: none;
  }
  .nav_close span {
    display: none;
  }
  .nav_close a {
    text-align: start;
    margin: -66px;
  }
  .nav_close {
    display: inline;
  }
}

/* Navbar ends    */

/*/////////////////////////////////////////////////////////
 ///////////  Dropdown starts
 ////////////////////////////////////////////////////////*/

.dropdown {
  position: relative;
}
.dropdown .pop-up {
  position: absolute;
  right: 0;
  top: calc(100% + 8px);
  display: none;
  background: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.dropdown .pop-up.active {
  display: block;
}
.dropdown .pop-up li {
  padding: 5px 14px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.dropdown .pop-up li:last-child {
  border-bottom: none;
}
.dropdown .pop-up hr {
  border: 0.5px solid #f1f1f1;
  border-radius: 5px;
  margin: 0 4px;
}

/* Dropdown ends */

/*/////////////////////////////////////////////////////////
 ///////////  About starts
 ////////////////////////////////////////////////////////*/

.head-items {
  display: flex;
  margin-top: 70px;
}
.head-items .body-1-03 {
  color: #1c1c1f;
}
.head-items a {
  margin-right: 17px;
}
.about p {
  color: #8c8c8c;
}
.about .p-1 {
  width: 100%;
  max-width: 180px;
}
.about .p-2 {
  width: 100%;
  max-width: 157px;
}
.about .p-3 {
  width: 100%;
  max-width: 161px;
}
.about .p-4 {
  width: 100%;
  max-width: 127px;
}
.about h2 {
  margin-bottom: 30px;
}
.about .body-yellow {
  margin-top: 7px;
  margin-bottom: 55px;
}
.about-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 150px;
  margin-left: 70px;
}
.blocks {
  width: 244px;
}
.blocks li {
  margin-bottom: 30px;
}
.blocks .active {
  padding: 13px 0 13px 28px;
  background-color: #fff;
  border-left: 3px solid #ff7300;
}
.head-items .right {
  margin-top: 54px;
}
@media (max-width: 1200px) {
  .about-item {
    margin-left: 30px;
  }
}
@media (max-width: 816px) {
  .head-items {
    display: flex;
    flex-direction: column;
    margin: 0px 0 30px;
  }
  .head-items .right {
    margin-top: 0;
  }
  .blocks {
    width: auto;
    height: auto;
    display: flex;
    margin-bottom: 30px; 
    overflow: scroll;
  }
  .blocks a {
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #a6a6a6;
    background: #f9f9f9;
    border-radius: 5px;
    padding: 10px 15px;
  }
  .blocks a:active {
    background: #ff7300;
    color: #fff;
  }
  .blocks .active {
    display: none;
  }
  .about-item {
    display: block;
  }
  .about h1 {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
  }
  .about p {
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
  }

  .about .item-1 {
    display: flex;
    justify-content: space-between;
    background: #fcfcfc;
    margin-bottom: 15px;
    padding: 20px 20px 15px;
  }
  .about .body-yellow {
    margin-top: 0;
    margin-bottom: 0;
  }
}

/* about ends  */

/*///////////////////////////////////////////////
///////////////// partners starts///////////////////
///////////////////////////////////////////// */
.partners {
  margin-top: 70px;
  margin-left: 28%;
}
.partners h1 {
  margin-bottom: 30px;
}
.partners .images {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin-bottom: 70px;
}

.images .image-1 {
  height: 116px;
  border: 1px solid #ebebeb;
  text-align: center;
}
.images .image-1 img {
  display: inline-block;
  margin-top: 42px;
}
.partners a {
  margin-right: 17px;
}

@media (max-width: 1200px) {
  .partners {
    margin-left: 34%;
  }
  .images .d-none {
    display: none;
  }
  .partners .images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .images .image-1 {
    padding: 0 10px;
  }
}
@media (max-width: 816px) {
  .partners {
    margin: 0;
  }
}

/* partners ends  */

/*///////////////////////////////////////////////
///////////////// vacancy starts///////////////////
///////////////////////////////////////////// */
.vacancy {
  margin-left: 28%;
}
.vacancy h2 {
  margin-top: 70px;
  margin-bottom: 30px;
}
.vacancy-items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 50px;
  row-gap: 30px;
  margin-bottom: 50px;
}
.vacancy-items .item {
  display: flex;
}
.vacancy-items .item div {
  margin-left: 16px;
}
.vacancy-items h3 {
  width: 223px;
  margin-bottom: 8px;
}
.vacancy a {
  margin-right: 17px;
}
@media (max-width: 1200px) {
  .vacancy {
    margin-left: 34%;
  }
  .vacancy-items {
    display: grid;
    grid-template-columns: 1fr;
  }
  .vacancy-items p {
    display: none;
  }
}
@media (max-width: 816px) {
  .vacancy {
    margin: auto;
  }
  .vacancy a{
      display: none;
  }
  .vacancy i{
      display: none;
  }
}
/* vacancy ends  */

/*/////////////////////////////////////////////////////////
 /////////// Team starts
 ////////////////////////////////////////////////////////*/
.team {
  margin-left: 28%;
  margin-top: 180px;
  margin-bottom: 100px;
}
.team-members {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap: 54px 54px;
  margin-top: 70px;
  margin-bottom: 50px;
}
.team-members .specialist {
  display: flex;
}
.specialist .text {
  margin: 14px 0 0 20px;
}
.specialist .text h3 {
  margin-bottom: 5px;
}
.specialist .img img {
  border: #e5e5e5 solid 6px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.team a {
  margin-right: 17px;
}
@media (max-width: 1200px) {
  .team {
    margin-left: 34%;
    margin-top: 85px;
  }
  .team-members {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 52px;
  }
}
@media (max-width: 816px) {
  .team-members {
   display: block;
  }
  .team-members .specialist {
    margin-bottom: 50px;
  }
  .team {
    margin: 40px 0 70px;
  }
  .team a{
      display: none;
  }
  .team i{
      display: none;
  }
}
/* Team ends  */
