.container {
  width: 100%;
  margin: 16px auto;
}

@media (min-width: 576px) {
  .container {
    width: 544px;
    margin: 0 auto;
  }
}

@media (min-width: 816px) {
  .container {
    width: 768px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1146px;
  }
}

@media (min-width: 1500px) {
  .container {
    width: 1404px;
    
  }
}

.container-wider {
  width: 100%;

}

@media (min-width: 576px) {
  .container-wider {
    width: 544px;
    margin: 0 auto;
  }
}

@media (min-width: 816px) {
  .container-wider {
    width: 768px;
  }
}

@media (min-width: 1200px) {
  .container-wider {
    width: 1146px;
  }
}

@media (min-width: 1500px) {
  .container-wider {
    width: 1404px;
  }
}