@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?dea8jq');
  src:  url('fonts/icomoon.eot?dea8jq#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?dea8jq') format('truetype'),
    url('fonts/icomoon.woff?dea8jq') format('woff'),
    url('fonts/icomoon.svg?dea8jq#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.rf-Stroke:before {
  content: "\e908";
  color: #ff7300;
}
.rf-authors:before {
  content: "\e900";
  color: #a6a6a6;
}
.rf-hashtag:before {
  content: "\e901";
  color: #a6a6a6;
}
.rf-android:before {
  content: "\e902";
  color: #a6a6a6;
}
.rf-apple:before {
  content: "\e903";
  color: #a6a6a6;
}
.rf-webdev:before {
  content: "\e904";
  color: #a6a6a6;
}
.rf-molecule:before {
  content: "\e905";
  color: #a6a6a6;
}
.rf-marketing:before {
  content: "\e906";
  color: #a6a6a6;
}
.rf-newspaper:before {
  content: "\e907";
  color: #ff7300;
}
.rf-X:before {
  content: "\e909";
}
.rf-Arrow-4-:before {
  content: "\eb65";
  color: #d2d2d2;
}
.rf-package:before {
  content: "\eb64";
  color: #a6a6a6;
}
.rf-instagram:before {
  content: "\eb63";
  color: #a6a6a6;
}
.rf-print:before {
  content: "\eb62";
  color: #a6a6a6;
}
.rf-desktop:before {
  content: "\eb61";
  color: #a6a6a6;
}
.rf-vector:before {
  content: "\eb60";
  color: #a6a6a6;
}
.rf-pero:before {
  content: "\eb5f";
  color: #a6a6a6;
}
.rf-paper:before {
  content: "\1f5cc";
  color: #ff7300;
}
